/* * {
    outline: 1px red solid;
} */

body {
    width: 1920px;
    height: 2354px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
/* logotype */
.logo{
    display: flex;
    justify-content: center;
    margin-top: 53px;
}
/* logotype */

/* DESIGN BLOCK START */
.main-title {
    text-align: center;
    font-size: 51px;
    letter-spacing: 10px;
    color: #131313;
    font-weight: 700;
    margin-top: 225px;
    margin-bottom: 0;
}

.design-block-text-conteiner{
    display: flex;
    justify-content: center;
    margin-top: 25px;;

}
.design-block-text{
    width: 658px;
    text-align: center;
    color: #131313;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 0;
}

.bold-design-text{
    font-weight: 700;
}


.main-list-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* LINK BUTTON */
.main-link{
    
    border: 1pt solid #000;
    border-radius: 5px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 123px;
    padding-right: 123px;
    margin-top: 40px;
    color: #131313;
    font-weight: 700;
    text-decoration: none;
}

.main-link:hover{
    border: 1pt solid #f4c32f;
    background-color: #f4c32f;
    border-radius: 5px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 123px;
    padding-right: 123px;
    margin-top: 40px;
    color: #131313;
    font-weight: 700;
    text-decoration: none;
}

.main-link:nth-child(1){
    margin-right: 12px;
}
/* DESIGN BLOCK END */

/* SERVICES START */
.second-title{
    
}
/* SERVICES END */